body {
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url('https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png');
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}

.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0 1px 13px #000000;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}

.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 0 1px 13px #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pack {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.pack-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 40px; 
  display: flex;
  align-items: center;
}

.form-group label {
  display: inline-block;
  font-weight: bold;
  margin-right: 20px; 
}

.form-group input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6f057a;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
  transition: background-color 0.3s;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.pack {
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px 20px 0;
  padding-top: 100px;
  padding-bottom: 200px;
}

.pack h2 {
  margin-bottom: 10px;
}

.blook {
  margin-top: 10px; 
}

.button {
  margin-top: 10px; 
}

.blook-adder { 
  font-family: 'Pixelify Sans', sans-serif;
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: inset 0 -0.365vw #cfc9c9, 3px 3px 15px rgba(0, 0, 0, 0.6);
  width: calc(25% - 20px);
}

.blook-adder input[type='text'] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.blook-adder .button {
  width: 100%;
}

.form-group input[type='text'],
.form-group input[type='number'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-top: 5px;
}

.form-group input[type='text']::placeholder,
.form-group input[type='number']::placeholder {
  color: #999999;
}

.form-group .button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6f057a;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; 
}

.form-group .button:hover {
  background-color: #6f057a;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #D240DC; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  margin-top: 30px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6f057a #ffffff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6f057a;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d240dc;
}