modules = ["nodejs-20:v8-20230920-bd784b9"]
run = "node index.js"

[[ports]]
localPort = 3000
externalPort = 3000

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
id = "module:nodejs-20:v32-20240401-269b323/formatter:prettier"

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "node index.js"]

[objectStorage]
defaultBucketID = "replit-objstore-d45f6b65-fc20-4b84-83e7-29aa9c4a9e2d"
