body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}
.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  size: 10%;
}
*
{
  box-sizing: border-box;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}
.badge {
  display: inline-block;
  height: 100px;
  width: 100px;
}
 .background{
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}
.profileBody{
  width: 100%;
  height: calc(100% - 4.52vh);
  position: absolute;
  top: 4.52vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.inputContainer{
  position: relative;
  top: 1%;
  width: 100%;
  height: 55px;
  left: 0;
  border-right: none;
  border: none;
  font-family: 'Pixelify Sans';
}
.sendInput{
  width: 150%;
  height: 85%;
  background: #621e7d;
  border-right: none;
  left: 0;
  border: none;
  position: relative;
  border-bottom: none;
  color: #fff !important;
  font-family: 'Pixelify Sans';
  padding: 20px;
  box-shadow: 2px 2px 5px rgb(255, 255, 255, 0.3);
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.chatContainer{
  width: 100%;
  overflow: auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 55px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.message{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 6px;
  gap: 10px;
}
.pfp img{
  width: 65px;
  height: auto;
  border-radius: 5px;
}
.messageContainer{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.usernameAndBadges{
  display: flex;
  gap: 5px;
}
.username{
  font-size: 20px;
}
.badge{
  width: 25px;
  height: auto;
}
.badges{
  display: flex;
  flex-direction: row;
  gap: 3px;
}