/* Container styling */
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

/* Chat box styling */
.chat-box {
    max-height: 700px;
    overflow-y: auto;
    flex: 1;
    border: 1px solid #8e038d;
    border-radius: 5px;
    padding: 10px;
}

/* Message styling */
.message {
    margin-bottom: 10px;
}

.incoming {
    background-color: #F8E6F8;
    border-radius: 10px 10px 10px 0;
}

.outgoing {
    background-color: #D54AE6;
    color: #fff;
    border-radius: 10px 10px 0 10px;
}

.message-content {
    padding: 10px;
}

.timestamp {
    font-size: 12px;
    color: #666;
}

/* Input box styling */
.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.input-box input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #B011C2;
    border-radius: 5px 0 0 5px;
}

.input-box button {
    width: 70px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #B011C2;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.input-box button:hover {
    background-color: #930FA8;
}

/* Style for the username */
.username {
    font-weight: bold; /* Make the username bold */
    color: #333; /* Set the color of the username */
    margin-right: 5px; /* Add some margin to separate the username from the message content */
}