body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: purple;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: inset 0 -0.365vw #777378, 3px 3px 15px rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: purple;
}
.dropdown-content a:last-child:hover{
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 -0.365vw #660066, 3px 3px 15px rgba(0, 0, 0, 0.6);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.footer a:hover {
  text-decoration: underline;
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
  pointer-events: none;
}
.credits-containers {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  text-align: center; 
  cursor: pointer;
}
.credits-container {
  width: 300px;
  height: 300px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #6f057a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: inset 0 -0.365vw #5a0463, 3px 3px 15px rgba(0, 0, 0, 0.6);
  font-family: 'Pixelify Sans';
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.credits-container:hover {
  transform: scale(0.9);
}
.credits-container h3 {
  color: #fff;
  text-shadow: #000 1px 0 13px;
}
.credits-container h3 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  animation: slowAnimation 20s infinite;
}
.credits-container img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.credits-container h4 {
  color: #fff;
  text-shadow: #000 1px 0 13px;
}