body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #1a0005;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #ff6600; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
}

.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
#pfp {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}
#pfp:hover {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}
#pfp:mouseout {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.banner-container {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.banner-container:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}
.banner-container:mouseout {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
#banner {
  width: 350px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
#username {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#role {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#.badges-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a0005;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  margin-left: 20px;
  border: 2px solid #ff6600;
}
.button_container {
  display: flex;
  gap: 12px;
}
.button, .unlockBlooks, .spin, .manageBlooks {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 160px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  color: #ff6600;
  border: 2px solid #ff6600;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: inset 0 -0.250vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  font-family: 'Pixelify Sans', sans-serif;
  pointer-events: auto;
  background-color: #1a0005;
  transition: all 0.3s ease;
}
.button:hover, .unlockBlooks:hover, .spin:hover, .manageBlooks:hover {
  transform: scale(0.95);
  background-color: #2c0e0e;
  box-shadow: 0 0 15px #ff6600;
}
.trade {
  font-weight: 550;
}
.stat_box {
  background: #1a0005;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 24px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  width: 45%;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 40px;
  border: 2px solid #ff6600;
  color: #ff6600;
}
.stat_header {
  position: absolute;
  top: -20px;
  left: 1%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(#ff6600, #ff6600 50%, #e65c00 50.01%, #e65c00);
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  color: #1a0005;
}
.inner_stat_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.info_stat_box, .token_stat_box {
  background: #2c0e0e;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 23%;
  font-size: 20px;
  box-shadow: inset 0 -0.365vw #ff6600;
  border: 2px solid #ff6600;
  color: #ff6600;
}
.token_stat_box {
  height: 48px;
}
.badge {
  display: inline-block;
  height: 45px;
  width: 45px;
  user-drag: none;
  -webkit-user-drag: none;
}