body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;

}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: #000 4px 0 20px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: purple;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: purple;
}
.dropdown-content a:last-child:hover{
  border-radius: 0 0 10px 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.body-bg-color { background-color: #6d0180; }
.title-text { color: #fff; position: absolute; text-shadow: #000 1px 0 13px; }
.title-text-1 { top: 17%; left: 7%; right: 70%; }
.title-text-2 { top: 41%; left: 7%; right: 70%; }
.title-text-3 { top: 61%; left: 7%; right: 70%; }
.float-img { height: 50%; width: 50%; position: relative; left: 15%; animation: float 3s ease-in-out infinite; cursor: pointer; }
.pronunciation { position: absolute; bottom: 7%; left: 9%; font-size: 1.5em; cursor: pointer; }
.pronunciation-icon { font-size: 1.5em; text-shadow: 2px 2px 4px #000; }
.pronunciation-text { position: relative; top: -0.2em; text-shadow: 2px 2px 4px #000; }
.socials { position: absolute; bottom: 1%; left: 50%; transform: translateX(-50%); }
.social-link { margin: 0 10px; color: inherit; text-decoration: none; font-size: 2.2em; }
.terms-of-service { position: absolute; bottom: 2%; left: 93%; color: white; text-decoration: underline; font-size: 0.75vw; }


@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
  .container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .title_p {
    margin-left: 0;
    text-align: center;
    position: static;
    padding: 10px 0;
  }
  .title-text {
    position: static;
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
  }
  .title-text-1, .title-text-2, .title-text-3 {
    left: initial;
    right: initial;
  }
  .float-img {
    display: none;
  }
  .pronunciation {
    position: static;
    text-align: center;
    margin: 15px 0;
  }
  .socials {
    position: static;
    text-align: center;
    margin: 15px 0;
  }
  .terms-of-service {
    position: static;
    text-align: center;
    margin: 15px 0;
    font-size: 32px;
  }
}