body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}
.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  padding: 40px;
  border-radius: 25px;
}
.podium-1st {
  text-align: center;
  font-size: 4em;
}
.podium-2nd {
  text-align: center;
  font-size: 4em;
  color: #767474;
}
.podium-3rd {
  text-align: center;
  font-size: 4em;
  color: #643412;
}
.podium-1st .podium-metal {
  background-color: #ffd700;
  height: 450px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0 20px 40px #00000080;
}
.podium-2nd .podium-metal {
  background-color: #c0c0c0;
  height: 420px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0 20px 40px #00000080;
}
.podium-3rd .podium-metal {
  background-color: #cd7f32;
  height: 390px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0 20px 40px #00000080;
}
.podium-person {
  padding: 20px;
  font-size: 2em;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px #00000080;
}
.podium-1st .podium-person {
  background-color: #ffd700;
}
.podium-2nd .podium-person {
  background-color: #c0c0c0;
}
.podium-3rd .podium-person {
  background-color: #cd7f32;
}