body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
}

.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}

.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
}

.navbar {
  overflow: hidden;
  background-color: #1a0005;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ff6600; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ff6600;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #4a0e4e; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c0e0e; 
  min-width: 160px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: #ff6600; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #4a0e4e; 
}

.dropdown-content a:last-child:hover {
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

.register-container {
  width: 440px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #6f057a;
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 20px;
  font-family: Pixelify Sans;
  margin: 40px auto 0;
  box-shadow: inset 0 -0.365vw #5a0463, 3px 3px 15px rgba(0, 0, 0, 0.6);
}

.register-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: transparent;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-group input:hover {
  border-color: white;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.submit-btn {
  width: auto;
  font-size: 20px;
  border-radius: 5px;
  background-color: #6f057a;
  color: white;
  border: 0.1px solid white;
  padding: 15px 30px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #51005e;
}

#error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.body-bg-color {
  background-color: #1a0800;
}

.spacer {
  height: 150px;
}