body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}

.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

.main-content {
  padding: 20px;
}
.page-title {
  color: white;
  text-shadow: 0px 0px 10px #000;
  text-align: center;
}
.content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.profile-section, .theme-section {
  width: 45%;
  background-color: #6f057a;
  color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  position: relative;
}
.profile-details h3, .profile-details a {
  margin: 15px 0;
}
.separator {
  border: 3px solid white;
  border-radius: 100px;
  margin: 10px 0;
}
.notification-toggle {
  background-color: #800097; 
  font-family: 'Pixelify Sans', sans-serif; 
  color: white; 
  border: 2px solid white; 
  border-radius: 8px; 
  padding: 10px 20px;
  cursor: pointer; 
  transition: all 0.3s ease;
}
.theme-toggle-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: #0fcf0c;
  box-shadow: inset 0 -0.365vw #099207, 3px 3px 15px rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sign-out {
  color: white;
  text-decoration: none;
}