body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1
}
.navbar {
  overflow: hidden;
  background-color: #1a0005;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ff6600; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ff6600;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #4a0e4e;
  color: #ff6600;
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.8);
  transition: all 0.3s ease;
}

.navbar a:hover i,
.dropdown:hover .dropbtn i {
  transform: scale(1.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c0e0e; 
  min-width: 160px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: #ff6600; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #4a0e4e;
  color: #ff6600;
  box-shadow: inset 0 0 10px rgba(255, 102, 0, 0.5);
  transition: all 0.3s ease;
}

.dropdown-content a:hover i {
  transform: scale(1.1);
}

.dropdown-content a:last-child:hover {
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 -0.365vw #ff6600, 3px 3px 15px rgba(255, 102, 0, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}