body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #f7f7f7; /* Added a light background color */
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
.bg_img {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}

img {
  border-raduis: 5px;
}