body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

section input[type="text"]:focus {
  outline: none;
  border-color: #B011C2;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #D240DC; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  margin-top: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px; /* Decrease padding to make the buttons less chunky */
  font-size: 14px; /* Reduce font size */
  border: none;
  border-radius: 3px; /* Smaller border radius */
  background-color: #B011C2; /* Blue color for the buttons */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin: 5px; /* Add margin to create spacing between buttons */
}

button:hover {
  background-color: #8E038D; /* Darker blue color on hover */
}

.overlay-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  font-family: Pixelify Sans;
}

.overlay-content {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 20px;
  font-family: Pixelify Sans;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #d240dc; /* purple */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  font-family: Pixelify Sans;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  font-family: Pixelify Sans;
}

.display-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-request {
  font-family: Pixelify Sans;
  padding: 20px;
  margin: 10px;
  width: 1500px;
  background-color: #6f057a;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}

.account-request:hover {
  transform: scale(0.95);
}

.attribute {
  margin-bottom: 10px;
}

.button {
  font-family: Pixelify Sans;
  display: inline-block;
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  border-radius: 10px; 
  background-color: #6f057a; 
  color: #fff;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out; 
}

.button:hover {
  background-color: #920f9d; 
  transform: scale(1.05); 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  font-family: Pixelify Sans;
  background-color: #8e038d;
}

.no-requests-message {
  padding: 10px;
  color: #ffffff;
  text-align: center;
  background: none;
}
