.container {
  color: black;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0 -0.365vw #cfc9c9, 3px 3px 15px rgba(0, 0, 0, 0.6);
}
.add-badge-button {
  border: none;
  box-shadow: inset 0 -0.165vw #076a07, 3px 3px 15px rgba(0, 0, 0, 0.6);
  background-color: #0fcf0c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
h2 {
  color: black;
  text-align: center;
}
.badge-list {
  color: black;
  list-style-type: none;
  padding: 0;
}
.badge-list li {
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #ccc;
}
.badge-list li img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}
.badge-list li button {
  font-family: Pixelify Sans;
  color: black;
  background-color: #ff0000;
  box-shadow: inset 0 -0.165vw #a00303, 3px 3px 15px rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}
.overlay-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  font-family: Pixelify Sans;
}
.overlay-content {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 20px;
  font-family: Pixelify Sans;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #d240dc; /* purple */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  font-family: Pixelify Sans;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  font-family: Pixelify Sans;
}

.attribute {
  margin-bottom: 10px;
}

.button:hover {
  font-family: Pixelify Sans;
  background-color: #8e038d;
}

.footer {
  font-family: Pixelify Sans;
}

.button {
  font-family: Pixelify Sans;
  display: block;
  margin: auto;
}