body {
  font-family: Pixelify Sans;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bg_img {
  position: fixed;
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  z-index: -9999;
  background-size: 550px;
  background-position: -100px -100px;
  background-image: url("https://ac.blooket.com/dashboard/assets/BlookCheckers-BykpA7vd.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.1;
}
.navbar {
  overflow: hidden;
  background-color: #6f057a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6)
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: #000 1px 0 13px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: rotate(360deg);
}
.title_p {
  margin-left: 92%;
  position: absolute;
  top: 1%;
  font-size: 26px;
  color: #fff;
  text-shadow: #000 1px 0 13px;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

form {
  text-align: center;
  color: #000000;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 -0.365vw #cfc9c9, 3px 3px 15px rgba(0, 0, 0, 0.6);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], textarea {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 3px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  text-align: center;
  padding: 10px 20px;
  font-family: Pixelify Sans;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6f057a;
  box-shadow: inset 0 -0.365vw #61056b, 3px 3px 15px rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}


textarea {
  height: 200px;
}

@media screen and (max-width: 768px) {
  form {
  width: 90%;
 }
}